.tile {
  min-height: 150px;
  background-size: cover !important;
  border-radius: 5px;
}

.carousel__text {
  margin-top: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;

}

.carousel__icon {
  font-size: 18px;
  position: relative;
  left: 47.5%;
  margin: 10px 5px 0;
}
