<div class="row">
	<div nz-col nzSpan="24">
		<p>Pregunta 1</p>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
	</div>
</div>
<div class="row">
	<img src="https://preguntas.tudemia.com/uploads/pregunta/thumb-00001349-rgufrmrizj.png">
</div>

<div *nzModalFooter>
  <button nz-button nzType="primary" (click)="destroyModal()">Custom Submit</button>
</div>