.flex-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-number {
  width: 100px;
  margin: 0 10px 0 0;
}

.aler-box {
  background: #F9F9FC;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
}

.box__imag {
  margin: 10px 0;
  height: 350px;
  width: 100%;
}

.text-alter {
  margin: 0 10px 0 0;
}

.box_text {
  font-size: 15px;
  font-weight: bold;
}

.input_text {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;

  &--inp {
    width: 20%;
    margin: 0 10px 0 0;
  }
}

.question-list {
  color: #000000;
}
