<!-- Componente Tabla para la lista de Tareas actuales -->
<div nz-row>
  <div nz-col nzSpan="24">
  	<nz-table #tableHomeworks
              [nzData]="items"
              [nzShowPagination]="false"
              [nzLoading]="varLoading"
    >
	  <thead>
	    <tr>
	      <th *ngFor="let title of varTableTitle">{{title}}</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let homework of tableHomeworks.data">
	      <td>{{ homework.titulo }}</td>
	      <td>{{ homework.cantidadPreguntas }}</td>
	      <td>{{ homework.fechaLimite }}</td>
	      <td>{{ homework.tiempoLimite }}</td>
	      <td>{{ homework.contenido }}</td>
	      <td>
	        <button nz-button [nzLoading]="loadingBtn" nzType="primary" (click)="showModal(homework)"><i nz-icon nzType="rocket"></i>Resolver</button>
	      </td>
	    </tr>
	  </tbody>
	</nz-table>
  </div>
</div>
