.content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.content-box-row {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  justify-content: space-between;

  &--group {
    display: flex;
    flex-direction: row;
  }
}

.cb-row-square {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #2C77F4;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.cb-row-title {
  font-size: 16px;
  font-weight: bold;
}

.cb-row-text {
  margin: 0 0 0 14px;
  display: flex;
  flex-direction: column;
}

.cb-row-description {
  font-size: 12px;
}
