nz-date-picker,
      nz-month-picker,
      nz-range-picker,
      nz-week-picker {
        margin: 0 0 15px calc(100% - 200px);
      }

      .card {
        background: white;
    padding: 10px 10px 5px;
    border-radius: 10px;
      }
      #titulo {
        margin-bottom: 20px;
        h2 {
            color: gray;
    font-weight: 600;
      }
      }
