<div class="header_global">
  <app-header-page-teacher [title]="varHeader.title" [icon]="varHeader.icon"
                           [url]="varHeader.url"></app-header-page-teacher>
</div>
<div class="body_global">
  <app-title-page-student [title]="varTitle"></app-title-page-student>
  <div class="paginator-box">
    <button class="paginator-box--item btn_global--blue-solid" nz-button [nzSize]="'large'" nzType="primary"
            (click)="openAddHomework()">
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
      Agregar Tarea
    </button>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <!-- Filtros -->
      <br>
    </div>
  </div>
  <nz-table #nzTable [nzData]="listHomework" [nzLoading]="varLoading">
    <thead>
    <tr>
      <th>Título</th>
      <th>Competencia</th>
      <th>Contenido</th>
      <th>Fecha de Inicio</th>
      <th>Fecha Límite</th>
      <th>Tiempo Límite</th>
      <th>Cantidad</th>
      <th>Accion</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.titulo }}</td>
      <td>{{ data.competencia }}</td>
      <td>{{ data.contenido }}</td>
      <td>{{ data.fechaInicio }}</td>
      <td>{{ data.fechaLimite }}</td>
      <td>{{ data.tiempoLimite }}</td>
      <td>{{ data.cantidadPreguntas }}</td>
      <td>
        <div class="">
          <button nz-button nzType="primary" (click)="openDeleteHomework(data)"
                  class="btn-global--red-solid blue-box-square--action--item" [nzSize]="'large'">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

<app-loading-blank-teacher [flag]="varLoading"></app-loading-blank-teacher>
