body {
  font-family: 'Poppins', sans-serif;
}

.body {
  width: 100%;
  height: 100%;
}

.content_global {
  height: 100%;
  margin: 50px !important;
}

.header_global {
  width: 100%;
}

.body_global {
  margin-top: 40px;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 40px;
}

