body {
  font-family: 'Poppins', sans-serif;
}

.body {
  width: 100%;
  height: 100%;
}

.content_global {
  height: 100%;
  margin: 50px !important;
}

.header_global {
  width: 100%;
}

.body_global {
  margin: 40px 0;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 40px;
}

.tile {
  box-shadow: none !important;
}

.btn_global--help {
  background: #2C77F4;
  border-color: #2C77F4;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}

.btn_global--check {
  background: #73D13D;
  border-color: #73D13D;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}

.btn_global--press {
  background: #363735;
  border-color: #363735;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
}


