nz-header {
  background: #272534;
  padding: 0;
}
.general-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__logo{
  height: 60px;
  margin: 2px 0 0 25px;
}

.header__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  margin-right: 20px;
}

.header__icon {
  background: #2C77F4;
  font-size: 16px;
  font-weight: normal;
  margin-right: 35px;
}

.routelink-header {
  margin-right: 40px;
  &--item {
    font-size: 18px;
    margin: 0 5px;
    color: #FFFFFF;
    text-underline: none;
    &:hover {
      color: #FFFFFF;
      font-weight: bold;
    }
  }
}

.box-drawer {
  display: flex;
  justify-content: center;
  align-items: center;
}
