@import "src/assets/styles/vars";

.header_box{
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  padding: 0 40px;
  color: $color-title-header-page;
}
.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  &--icon{
    margin-right: 20px;
  }
  &--text{
    font-weight: bold;
  }
}
